.row
  .col-md-12
    .center-block
      .panel
        %h2=t 'canned_meat.views.subscriptions.unsubscribe.headline'
        %p=t 'canned_meat.views.subscriptions.unsubscribe.explanation', list_name: @subscription.list.name
