<!DOCTYPE html>
<html>
<head>
  <title>CannedMeat</title>
  <%= stylesheet_link_tag    "canned_meat/application", media: "all" %>
  <%= javascript_include_tag "canned_meat/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
